fire~=0.5.0
imageio~=2.30.0
numpy~=1.24.3
pytorch_lightning~=1.8.0
PyYAML~=6.0
rich~=13.3.5
scikit-learn~=1.2.2
setuptools==67.8.0
torch~=1.13.1
torchmetrics~=0.9.3
torchvision~=0.14.1
uniplot~=0.10.0